<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1Wb9_0O4_r--FRv8XB9b5wcoZHGePkb0</string>
	<key>GCM_SENDER_ID</key>
	<string>678656967091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diginest.pandastore</string>
	<key>PROJECT_ID</key>
	<string>qbuygreen-2185c</string>
	<key>STORAGE_BUCKET</key>
	<string>qbuygreen-2185c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678656967091:ios:4210a0179499fb9a79cbc6</string>
</dict>
</plist>